section {
    padding: 1vw;
}


.bgLight {
    background-color: rgba(200,200,206,0.3);
    color: dimgrey;
}

.bgDark {
    background-color: rgba(56,82,206,0.6);
    color: rgba(56,82,206,1);
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

.textCenter {
    text-align: center;
}

h2 {
    font-family: 'Poppins', Arial;
    padding-left: 1em;
    color: rgba(56,82,206,1);
}

h3 {
    padding-right: 1em;
    text-align: right;
    color: rgba(56,82,206,0.8);
    font-size: larger;
}