@font-face {
    font-family: 'Poppins';
    src:	url('./fonts/Poppins-Regular.ttf') format('ttf')
}

.ProductsList {
    display: block;
    text-align: center;
    padding: 1vw;
    width: 60vw;
}

.Info {
    font-family: Poppins, Arial;
    display: inline-block;
    padding: 1em;
    min-width: 15%;
    max-width: 27%;
    text-align: center;
}

.Product {
    margin: 1vh;
    margin-bottom: 3vh;
    padding: 0.1em;
    #border-bottom: black 1px solid;
    border-radius: 10px;

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.BtnAdd {
    font-family: Palatino;
    width: 20%;
    display: inline-block;
    text-align: center;
    padding: 1em;
    border: none;
    background-color: unset;
}

.BtnAdd > img {
    height: 5vh;
}

select {
    border: unset;
    border-radius: 10px;
    margin: auto;
    margin: 1em;
}

@media (max-width: 650px) {
    .ProductsList {
        width: 95vw;
    }

    .BtnAdd {
        border-radius: 10px;
    }
}

@media screen {
    .BtnAdd {
        width: 30%;
        font-size: 0.9em;
    }
}

.bgLight {
    background-color: rgba(200,200,206,0.3);
    color: dimgrey;
}

.bgDark {
    background-color: rgba(56,82,206,0.6);
    color: rgba(56,82,206,1);
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

.textCenter {
    text-align: center;
}