@font-face {
    font-family: 'Poppins';
    src:	url('./fonts/Poppins-Regular.ttf') format('ttf')
}

.ProductsList {
    display: block;
    text-align: center;
    padding: 1vw;
    width: 60vw;
}

.Info {
    font-family: Poppins, Arial;
    display: inline-block;
    padding: 1em;
    min-width: 15%;
    text-align: center;
}

.Product {
    margin: 1vh;
    margin-bottom: 3vh;
    padding: 0.1em;
    border-bottom: black 1px solid;
    border-radius: 10px;

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.BtnAdd {
    font-family: Palatino;
    width: 30%;
    height: 40%;
    display: inline-block;
    text-align: center;
    padding: 1em;
}

.bgLight {
    background: darkgray;
}

.bgDark {
    background: teal;
}